section.page.setView
  h2
    span(data-hook="date")
    |  (
    span(data-hook="club")
    | )

  table.table.table-striped.table-hover.table-bordered
    thead
      tr
        th #
        th Song
    tbody(data-hook="set-contents")
