section.page.home
  h2 about beeplists

  p
    | Beeplists is a tool to explore the playlist
    | archives of 
    a(href='http://www.djmeltinggirl.com/') DJ Melting Girl
    | . 

  p
    | If you like mgbrowser, you might also like 
    a(href='https://emarhavil.com/~joshua/dg/') the Death Guild browser
    | .
  
  h3 stuff for nerds (and credits)
  
  p
    | dgbrowser was my first project in building a web site to do actual
    | things, and it probably shows.  It was built using a handful of
    | technologies that were modern in 2015 but are ancient now; that said, I would be remiss not to credit 
    a(href='http://ampersandjs.com') Ampersand.js
    | .  The Bootstrap theme is a variant of the 
    a(href='http://bootswatch.com') Bootswatch "Darkly" theme
    | .  Also, if you're into that kind of thing, you might find it cool to note
    | that all of dgbrowser runs in your web browser -- there is no
    | server-side logic at all, beyond updating the database once every so
    | often. 

  p
    | dgbrowser is open-source (because it's just too damn ugly for anyone
    | to want to steal); you can find it on 
    a(href='http://github.com/jwise') Joshua's GitHub page
    | .